*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  a{
    text-decoration: none;
    color: inherit;
  }
  li{
    list-style: none;
  }
}

html{
  font-size: 62.5%;
}

:root {

  /* COLORS */

  --color-background: #F0F0F0;
  --color-main: blue;
 

  /* FONTS */

  --font-title: 'Averia Serif Libre', serif;
  --font-text: "Reddit Sans", sans-serif;

  /* applied */

  font-family: var(--font-text);
  color: var(--color-main);
  background-color: var(--color-background);

}

.hidden{
  display: none;
}