.header{
    font-size: 1.6rem;
    width: 100%;
    padding: 20px 20px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: sticky;
    top: -22rem;
    z-index: 50;
    background-color: var(--color-background);
    &__logo{
        width: 20rem;
        aspect-ratio: 1;
        background-size: contain;
        background-image: url("/logo.png");
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
              
        
    }
}